<h3>ngSwitch</h3>

<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'success'"></div>
    <div *ngSwitchCase="'info'"></div>
    <div *ngSwitchCase="'warning'"></div>
    <div *ngSwitchDefault></div>
</div>

<button type="button" class="btn btn-success mr-2" (click)="alerta = 'success' ">Success</button>
<button type="button" class="btn btn-danger mr-2 " (click)="alerta = 'danger' ">Danger</button>
<button type="button" class="btn btn-warning  mr-2" (click)="alerta = 'warning' ">Warning</button>
<button type="button" class="btn btn-info  " (click)="alerta = 'info' ">Info</button>

<div class="mt-5" [ngSwitch]="alerta">

    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div *ngSwitchDefault class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
    <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div *ngSwitchCase="'info'" class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>
</div>