<div class="container mt-5">
    <h1>Demo <small>Angular</small></h1>
    <hr>
    <app-ng-style></app-ng-style>
    <hr>
    <app-classes></app-classes>
    <hr>
    <h3>Directiva personalizada</h3>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Escriba un color y presione enter</span>
        </div>
        <input (keyup.enter)="setColor(color.value);" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" #color>
    </div>
    <!-- <button class="btn btn-primary" (click)="setColor(color);">Dar color</button> -->
    <p>Pueden ser colores con el codigo Hexadecimal.</p>
    <p>*Se esta cambiando el fondo del texto.</p>
    <p [appResaltado]="colorEn">
        HOLA MUNDO
    </p>

</div>